[submodule "mifos-mobile/source/mifos-mobile"]
	path = mifos-mobile/source/mifos-mobile
	url = git@github.com:openMF/mifos-mobile.git
[submodule "mobile-wallet/source/mobile-wallet"]
	path = mobile-wallet/source/mobile-wallet
	url = https://github.com/openMF/mifos-pay.git
[submodule "mifos-x-field-officer-app/source/mifos-x-field-officer-app"]
	path = mifos-x-field-officer-app/source/mifos-x-field-officer-app
	url = git@github.com:therajanmaurya/mifos-x-field-officer-app.git
[submodule "kmp-project-template/source/kmp-project-template"]
	path = kmp-project-template/source/kmp-project-template
	url = https://github.com/openMF/kmp-project-template.git
[submodule "mcp-mifosx/source/mcp-mifosx"]
	path = mcp-mifosx/source/mcp-mifosx
	url = https://github.com/therajanmaurya/mcp-mifosx.git
[submodule "mifos-x-actionhub"]
	path = mifos-x-actionhub
	url = https://github.com/openMF/mifos-x-actionhub.git
[submodule "mifos-x-actionhub-publish-android-kmp"]
	path = mifos-x-actionhub-publish-android-kmp
	url = git@github.com:therajanmaurya/mifos-x-actionhub-publish-android-kmp.git
[submodule "mifos-x-actionhub-publish-apple-kmp"]
	path = mifos-x-actionhub-publish-apple-kmp
	url = git@github.com:therajanmaurya/mifos-x-actionhub-publish-apple-kmp.git
[submodule "mifos-x-actionhub-publish-desktop-kmp"]
	path = mifos-x-actionhub-publish-desktop-kmp
	url = git@github.com:therajanmaurya/mifos-x-actionhub-publish-desktop-kmp.git
[submodule "mifos-x-actionhub-publish-web-kmp"]
	path = mifos-x-actionhub-publish-web-kmp
	url = git@github.com:therajanmaurya/mifos-x-actionhub-publish-web-kmp.git
[submodule "mifos-x-group-banking/source/mifos-x-group-banking"]
	path = mifos-x-group-banking/source/mifos-x-group-banking
	url = https://github.com/therajanmaurya/mifos-x-group-banking
[submodule "mifos-x-backoffice-next-gen/source/mifos-x-backoffice-next-gen"]
	path = mifos-x-backoffice-next-gen/source/mifos-x-backoffice-next-gen
	url = git@github.com:mobilebytesensei/mifos-x-backoffice-next-gen.git
